NEXT_PUBLIC_SUPABASE_URL=Sua_URL_do_Supabase_Aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=Sua_Chave_Anon_do_Supabase_Aqui

# Ambiente de Banco de Dados Prisma (Supabase fornece 2 Strings)
# Transaction connection (Pool) para ambiente Serverless
DATABASE_URL=Sua_Transaction_URL_Aqui

# Direct connection p/ compilar (npx prisma generate) e Migrations
DIRECT_URL=Sua_Direct_URL_Aqui